<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jogo da Velha</title>
    <link rel="stylesheet" href="../styles/styleowon.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="game">
        <header>
          <h1>TIC TAC TOE</h1>
          <div class=players>
              <div id="playerX">X</div>
              <div id="playerO">O</div>
          </div>
          <div id="gamer">X's TURN</div>
        </header>
        <div class="container">
          <div id='playerwin'>O</div>
          <div id='won'>WON</div>
        </div>
        <div class="footer">RESTART</div>
      </div>

    <script src="/scripts/controller/wins.js"></script>
  </body>
</html>
